html,body{
    margin: 0%;
    padding: 0%;
    text-align: center;
    overflow-x: hidden;
}
/* .row{
    margin: auto;
} */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3.5rem !important ;
    padding-left: 0.5rem !important;
}
.navbar-toggler{
    margin-left: 85%;
}
/* .carousel-item{
    width: 100vh;
    height: 100vh;
} */

.d-block{
    height: 80vh !important;
    width: 100vh !important;
    background-position: right;
   
}
.carousel-caption {
    position: absolute !important;
    right: 54% !important;
    bottom: 30px !important;
    left: 6% !important;
    z-index: 10 !important;
    padding-top: 40px !important;
    padding-bottom: 160px !important;
    color: #fff;
    text-align: left !important;
}
.btn1{
    border-radius: 2.25rem !important;
    padding: 1% 5% !important;
    font-size: 109% !important;
    color: white !important;
    border-color: white !important;
}
.carousel-caption1{
    position: absolute ;
    right: 54% ;
    bottom: 30px ;
    left: 5% ;
    z-index: 10 ;
    padding-top: 40px ;
    padding-bottom: 160px;
    color: #fff;
    text-align: left;
}
#table{
    font-size: 23px;
}
p {
    margin-top: 0;
    margin-bottom: 6% !important;
}

#phonepelog{
    width: 15%;
    height: auto;
}
.btn-lg {
    padding: 0.5rem 2rem !important;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 3.3rem !important;
}
span1{
    font-size: 3em;
}
.carousel-indicators li {
    width: 20px !important;
    height: 20px !important;
    border-radius: 100%;
}
.t1{
    width: 100%;
    height: 50px;
    background-color:white;
    display: block;
    /* padding-top: 0%; */
    
}
.t2{
    width: 100%;
    height: 50px;
    background-color:white;
    display: block;
    /* padding-top: 6%; */
    
}
.t3{
    width: 100%;
    height: 50px;
    background-color:white;
    display: block;
    /* padding-top: 12%; */
    
}
.t4{
    width: 100%;
    height: 50px;
    background-color:white;
    display: block;
    /* padding-top: 18%; */
   
}

.fontsize{
    font-size: 18px;
    color: #6739b7;
}
.line{
    
    background-color:#979797;
    
}


.card{
    padding: 15px;
    border-radius: 15px !important;
   
}


.full-bleed{
    box-shadow: 0 0 0 100vmax #7962bd;
    clip-path: inset(0 -100vmax);
}
.content{
    height: 100%;
    background-image: url(image/stats-desktop-06c1833a3c8dcc00bdbc92d16fdf9884.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.maintxt {
    background-image: url(image/stats-desktop-06c1833a3c8dcc00bdbc92d16fdf9884.png);
    background-size: cover;
    background-position: center;
   
   
}
.imgtext{
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}
.imgtextp{
    font-size: 1.25rem;
    font-weight: lighter;
    color: #dcd3ff;
    line-height: 1.6;
    
}
.imgtextrow1{
    font-size: 1.625rem;
    font-weight: 500;
    color: #d4cbff;
    line-height: 18px;
}
.texthead{
    font-size: .875rem;
    font-weight: 500;
    line-height: 2.29;
}
.list-unstyled{
    font-size: 14px;
    
}